<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>
      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if current_user %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<% else %>
  <%= f.hidden_field :user_id %>
<% end %>
<%= f.hidden_field :group_id, :value => @group_id %>

  <div class="field">
    <%= f.label :quiz_title,"クイズタイトル" %>
    <%= f.text_field :quiz_title %>
  </div>
  <div class="field">
    <%= f.label :quiz_contents,"クイズ内容" %> <%= f.text_area :quiz_contents, :size => "10x5" %>
  </div>

  <div class="field">
    <%= f.label :quiz_answer1,"クイズ解答（選択肢１）" %>
    <%= f.text_field :quiz_answer1 %>
  </div>
  <div class="field">
    <%= f.label :quiz_answer2,"クイズ解答（選択肢２）" %>
    <%= f.text_field :quiz_answer2 %>
  </div>
  <div class="field">
    <%= f.label :quiz_answer3,"クイズ解答（選択肢３）" %>
    <%= f.text_field :quiz_answer3 %>
  </div>
  <div class="field">
    <%= f.label :quiz_answer4,"クイズ解答（選択肢４）" %>
    <%= f.text_field :quiz_answer4 %>
  </div>
  <div class="field">
  <% if @group.group_category_radio != 2  then %>
  <p>
    クイズの正解を選択してください
  </p>
    <%= f.radio_button "quiz_answer_radio", '1' %>クイズ解答（選択肢１）
    <%= f.radio_button "quiz_answer_radio", '2' %>クイズ解答（選択肢２）
    <%= f.radio_button "quiz_answer_radio", '3' %>クイズ解答（選択肢３）
    <%= f.radio_button "quiz_answer_radio", '4' %>クイズ解答（選択肢４）
  </div>
<% else %>
<%= f.hidden_field :quiz_answer_radio, :value => '1' %>
<% end %>

<% if @group.group_category_radio != 2  then %>
  <div class="field">
    <%= f.label :correct_answer_message,"クイズ正解時のメッセージ" %> <%= f.text_field :correct_answer_message %>
  </div>
  <div class="field">
    <%= f.label :not_correct_answer_message,"クイズ不正解時のメッセージ" %> <%= f.text_field :not_correct_answer_message %>
  </div>
<% else %>
  <div class="field">
    <%= f.label :correct_answer_message,"選択肢1を選んだ時のメッセージ" %> <%= f.text_field :correct_answer_message %>
  </div>
  <div class="field">
    <%= f.label :correct_answer_message2,"選択肢2を選んだ時のメッセージ" %> <%= f.text_field :correct_answer_message2 %>
  </div>
  <div class="field">
    <%= f.label :correct_answer_message3,"選択肢3を選んだ時のメッセージ" %> <%= f.text_field :correct_answer_message3 %>
  </div>
  <div class="field">
    <%= f.label :correct_answer_message4,"選択肢4を選んだ時のメッセージ" %> <%= f.text_field :correct_answer_message4 %>
  </div>
  <%= f.hidden_field :not_correct_answer_message, :value => ' ' %>
<% end %>
    <div class="field">
    <%= f.label :category_id,"カテゴリー" %> <%= f.select :category_id, @categories.collect{|p| [p.name, p.id]} %><a target="_blank" href="/categories/new">新しいカテゴリーを作る</a>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

