<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quiz_title,"クイズタイトル" %><br />
    <%= f.text_field :quiz_title %>
  </div>
  <div class="field">
    <%= f.label :quiz_contents,"クイズ内容" %><br />
    <%= f.text_field :quiz_contents %>
  </div>
  <div class="field">
    <%= f.label :quiz_answer,"クイズ解答" %><br />
    <%= f.text_field :quiz_answer %>
  </div>
  <div class="field">
    <%= f.label :category_id,"クイズカテゴリ（作成中）" %><br />
    <%= f.select :category_id, @categories.collect{|p| [p.name, p.id]} %>
  </div>
  <div class="field">
    <%= f.label :correct_answer_message,"クイズ正解時のメッセージ" %><br />
    <%= f.text_field :correct_answer_message %>
  </div>
  <div class="field">
    <%= f.label :not_correct_answer_message,"クイズ不正解時のメッセージ" %><br />
    <%= f.text_field :not_correct_answer_message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

