<p id="notice"><%= notice %></p>

<p>
  <b>Quiz_Title:</b>
  <%= @quiz.quiz_title %>
</p>

<p>
  <b>Quiz_Contentes:</b>
  <%= @quiz.quiz_contents %>
</p>

<p>
  <b>Quiz_Ctegory:</b>
  <%= @category.name %>
</p>

<%= link_to 'クイズページトップへ戻る', quizzes_path %>

