<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul>
        <li><%= link_to '全て', '/groups/' %></li>
        <li><%= link_to '自分がオーナー', '?cond=owner&user_id='+current_user.id.to_s %></li>
        <li><%= link_to '参加中', '?cond=part&user_id='+current_user.id.to_s %></li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <h1>グループの一覧</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= link_to 'グループ名', 'ordergroup' %></th><th><%= link_to 'オーナー', 'orderowner' %></th><th><%= link_to '更新日▼', 'orderupdated' %></th>
        </tr>
      </thead>
      <tbody>
        <% @group.each do |g| %>
          <tr>
            <td><%= link_to g.title, g %></td><td>
                <%= g.name %>
              </td><td><%= g.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
