<h1>新しいグループの作成</h1>
<p>皆と遊ぶためのクイズグループを作成しましょう。</p>
<p>※クイズグループとは・・・グループ名に関連したクイズの作成や、クイズの回答を可能とするものです。</p>
<%= form_for @group do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<% if current_user %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<% else %>
  <%= f.hidden_field :user_id %>
<% end %>
  <div class="field">
  <%= f.label :title,  "グループ名" %>
  <%= f.text_field :title%>
  </div>
  <div class="field">
    <p>クイズのカテゴリを選択してください。</p>
    <%= f.radio_button "group_category_radio", '1' %>４択クイズ
    <%= f.radio_button "group_category_radio", '2' %>パターン診断
  </div>
  <div class="field">
  <%= f.label :price,  "料金" %>
  <%= f.text_field :price %>円(税込)
  </div>
  <div class="actions">
  <%= f.button "新規登録", :class => "btn" %>
  </div>
<% end %>

