<h1><%= @group.title %></h1>
<% @user.each do |u| %>
  <p>このグループは<%= u.name %>によって作成されました。</p>
<% end %>
<div class="row-fluid">
  <div class="span9">
    <h2>このグループにあるクイズ</h2>
    <p>この下にはグループにある質問一覧が出てくる。</p>
    <ul>
    <% @quizzes.each do |quiz| %>
      <li><%= link_to quiz.quiz_title, quiz %></li>
    <% end %>
  </ul>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <h3>グループメンバー一覧</h3>
      <p>ここできてない</p>
      <h3>グループ管理</h3>
      <% @user.each do |u| %>
        <% if @group.user_id == u.id %>
        <p><a class="btn" href="<%= @group.id %>/edit">このグループを編集する</a></p>
        <% end %>
      <% end %>
      <p><a id="dropout" class="btn" data-toggle="modal" href="#myModal">このグループから抜ける</a></p>
      <p><a href="/quizzes/new?gid=<%= @group.id %>">クイズを作る</a></p>
    </div>
  </div>
</div>

<div class="fade modal" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= @group.title %>から抜けようとしています...</h3>
  </div>
  <div class="modal-body">
    <p>本当に<b>「<%= @group.title %>」</b>から抜けても良いですか？</p>
  </div>

  <div class="modal-footer">
    <%= form_for(@group, :url => dropout_group_path) do |f| %>
    <% if current_user %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% else %>
      <%= f.hidden_field :user_id %>
    <% end %>
    <%= f.hidden_field :id %>
    <a href="#" class="btn" data-dismiss="modal">いいえ</a>
    <button class="btn btn-primary" type="submit">はい</button>
  <% end %>
  </div>
</div>
<script type="text/javascript">
  $('#myModal').modal({
keyboard: false
});
$('#myModal').modal('toggle');
</script>
