<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :誕生日 %>
    <%= f.number_field :birthday %>
  </div>
  <div class="field">
    <%= f.label :性別 %>
    <%= f.number_field :sex %>
  </div>
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.number_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :パスワード %>
    <%= f.number_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
