<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :誕生日 %>
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <% sex = {'1' => '男', '2' => '女'} %>
    <%= f.label :性別 %>
    <% sex.each_pair {|key, value| %>
      <%= f.radio_button :sex_id, key %><%= h value %>
    <% } %>
  </div>
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
