<p id="notice"><%= notice %></p>

<p>
  <b>名前:</b>
  <%= @user.name %>
</p>
<p>
  <b>誕生日:</b>
  <%= @user.birthday %>
</p>
<p>
  <b>性別:</b>
  <%= @user.sex %>
</p>
<p>
  <b>メールアドレス:</b>
  <%= @user.email_address %>
</p>
