<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Groupquizは<br />無料からお使いいただけます。</h1>
    <table class="table table-striped">
      <thead>
        <tr class="plan">
          <th></th>
          <th></th>
          <th class="free">フリー<br /><span>お試し用の無料プランです</span></th>
          <th class="personal">パーソナル<br /><span>個人で使いたい方のプランです</span></th>
          <th class="business">ビジネス<br /><span>企業で使いたい方のプランです</span></th>
        </tr>
      </thead>
      <tbody>
        <tr class="price">
          <th>価格</th>
          <td class="tips"><%= image_tag("help.png") %> </td>
          <td class="free">無料</td>
          <td class="personal">いくら</td>
          <td class="business">いくら</td>
        </tr>
        <tr class="users">
          <th>ユーザー数</th>
          <td class="tips"> <%= image_tag("help.png") %> </td>
          <td class="free">1</td>
          <td class="personal">1</td>
          <td class="business">いくら</td>
        </tr>
        <tr class="groups">
          <th>参加可能グループ数</th>
          <td class="tips"> <%= image_tag("help.png") %> </td>
          <td class="free">5</td>
          <td class="personal">1</td>
          <td class="business">いくら</td>
        </tr>
        <tr class="smartphone">
          <th>スマートフォン対応</th>
          <td class="tips"> <%= image_tag("help.png") %> </td>
          <td class="free">○ </td>
          <td class="personal">○ </td>
          <td class="business">○ </td>
        </tr>
        <tr class="advertisement">
          <th>広告非表示</th>
          <td class="tips"> <%= image_tag("help.png") %> </td>
          <td class="free">× </td>
          <td class="personal">○ </td>
          <td class="business">○ </td>
        </tr>
        <tr class="search">
          <th>問題検索</th>
          <td class="tips"> <%= image_tag("help.png") %> </td>
          <td class="free">× </td>
          <td class="personal">○ </td>
          <td class="business">○ </td>
        </tr>
        <tr class="management">
          <th>ユーザー管理</th>
          <td class="tips"> <%= image_tag("help.png") %> </td>
          <td class="free">× </td>
          <td class="personal">○ </td>
          <td class="business">○ </td>
        </tr>
        <tr class="applyButton">
          <th></th>
          <td class="tips"> </td>
          <td class="free"><a class="btn btn-primary btn-large">お申し込み</a></td>
          <td class="personal"><a class="btn btn-primary btn-large">お申し込み</a></td>
          <td class="business"><a class="btn btn-primary btn-large">お申し込み</a></td>
        </tr>

      </tbody>
    </table>
  </div>


  <h2>よくあるご質問</h2>
  <div class="row">
    <div class="span4">
      <h3>誰がどんな知識をもっているのかわからない...</h3>
      <p>回答履歴検索機能で楽に解決！</p>
      <p><a class="btn" href="#">機能を見る &raquo;</a></p>
    </div>
    <div class="span4">
      <h3>社内勉強会を開いても理解されているのかわからない...</h3>
      <p>獲得メダル数で理解度が確認可能！</p>
      <p><a class="btn" href="#">機能を見る &raquo;</a></p>
    </div>
    <div class="span4">
      <h3>導入した社内WikiやSNSがあまり使われていない...</h3>
      <p>獲得メダル数を社内の評価指標に！</p>
      <p><a class="btn" href="#">機能を見る &raquo;</a></p>
    </div>
  </div>
  <script type="text/javascript">
    $(function(){
      $("[title]").mbTooltip({ // also $([domElement]).mbTooltip  >>  in this case only children element are involved
        opacity : .97,       //opacity
        wait:1200,           //before show
        cssClass:"default",  // default = default
        timePerWord:70,      //time to show in milliseconds per word
        hasArrow:false,     // if you whant a little arrow on the corner
        hasShadow:true,
        imgPath:"/assets/images/",
        ancor:"mouse", //"parent"  you can ancor the tooltip to the mouse position or at the bottom of the element
        shadowColor:"black", //the color of the shadow
        mb_fade:200 //the time to fade-in
      });
    });
  </script>
