<h1>カテゴリーを追加する</h1>
<%= form_for @category , :html => { :class => "well form-inline" } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.label :name,  "カテゴリー名" %>
  <%= f.text_field :name %>
  <%= f.button "新規登録", :class => "btn" %>
<% end %>

<%= link_to 'Back', categories_path %>

